html {
	
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.overlay {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-top:10px;
}

.first_line {
	display: block;
	font-style:italic;
	padding-left: 4px;
	padding-top: 16px;
	font-size: 22px;
	letter-spacing: 1px;
	padding-bottom: 4px;
	border-bottom: 1px solid black;
	text-align: left;
}

.second_line {
	padding-left: 4px;
	padding-top: 15px;
	font-weight:bold;
	display: block;
	border-bottom: 1px solid black;
	padding-bottom: 4px;
	text-align: left;
	background: white;
	font-size: 25px;
	line-height: 25px;
	letter-spacing:1px;
}

#wager {
	padding-left: 4px;
	padding-top: 30px;
	font-size: 32pt;
	margin-left: 18px;
}

input {
	height: 60px;
	width: 150px;
	border-radius: 3px;
	border: none;
	font-size:32pt;
}
#input_container {
	float:left;
}
#button {
	height: 50px;
	width: 200px;
	background-image:url('/frontend/wager.png');
	border-radius: 3px;
	border: none;
	padding-top: 15px;
	text-align: center;
	font-size: 24px;
	float:right;
	/*background: #F57A2E;*/
	text-decoration: underline;
}
#button:hover {
	color:black;
}
#title-bar {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #1b6bb9;
	background: #63a6e8;
	line-height: 22px;
}

#title-text {
	float: right;
	padding-right: 40px;
	padding-top: 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
#leftHand, #rightHand {
	width:108px;
	height:164px;
	background-repeat:no-repeat;
	float:left;
}

#outcome {
	text-align: center;
	display: block;
	padding-left: 4px;
	padding-top: 16px;
	font-size: 50px;
	padding-bottom: 4px;
	margin-top: 20px;
}

#outcome-second-line {
	padding-left: 4px;
	padding-top: 0px;
	margin-top: 40px;
	display: block;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-bottom: 4px;
	text-align: center;
	background: white;
	font-size: 30px;
	line-height: 25px;
}